body {
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}
 
.hidden {
    display: none;
}
 
.content {
    width: 80%;
    max-width: 1100px;
    min-width: 700px;
    margin: auto;
}
 
h1 {
    color: #FFFFFF;
}
 
ul {
    list-style-type: initial;
    margin-bottom: 20px;
}
 
li {
    margin-left: 40px;
    color: #FFFFFF;
}
 
a {
    text-decoration: none;
    color: #FFFFFF;
}
 
h2 {
    font-weight: bold;
    font-size: 1.2em;
}
 
h2, p, article {
    margin-bottom: 20px;
    color: #FFFFFF;
}
 
button {
    margin: 5px;
}
 
#form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 20px;
    border-top: 2px groove grey;
    padding-top: 20px;
}
 
#form div {
    display: flex;
    margin-top: 10px;
}
 
#form label {
    flex: 1;
    text-align: right;
    color: #FFFFFF;
    padding-right: 10px;
}
 
#form input, #form select {
    flex: 3;
}